body{
	margin:0;
	padding:0;
	align-content: center;
	background-color: #BEBCBE;
}

.wrapper{
	height:100vh;
	width:900px;
	margin:auto;
	background-color: white;
}

.header{
	height:90px;
	width:100%;
	background-color:black;
	font-family: Helvetica;
	color:white;
	font-size:20px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header__leftContainer{
	display: flex;
	align-items: center;
}

.header__by{
	margin-left:5px;
	font-size:15px;
}

.recordPlayerImg{
	height:90px;
	width:80px;
	background-color: white;
	margin-left:35px;
	margin-right:10px;
}

.addAlbum{
	margin-right:15px;
	text-decoration: none;
	color:white;
	padding-right:35px;
}

.formsContainer{
	height:100vh;
	width:900px;
	position:absolute;
	top:0;
	background-color: #303030;
	font-family: Arial;
	font-size:18px;
	color:white;
	display:none;
	justify-content: center;
	align-items: center;
}

.form{
	text-align: center;
}

.instruction{
	font-family: Arial;
	font-size: 14px;
	color:#D1D1D1;
	padding:0;
	margin:0;
}

input{
	border-radius: 5px;
	height:25px;
	width:250px;
	background-color: #D1D1D1;
	outline:0;
	border: none;
	margin-top:10px;
	margin-bottom: 10px;
}

.exitForm{
	height:30px;
	width:30px;
	position: absolute;
	top:0;
	right:0;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
}

.switchContainer{
	display:flex;
	align-items: center;
}

.nextForm{
	height:30px;
	width:30px;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
	margin:10px;
}

.prevForm{
	height:30px;
	width:30px;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
	margin:10px;
}

.repeatForm{
	height:75px;
	width:30px;
	background-color: grey;
	margin:10px;
	text-align: center;
}

.previous{
	height:75px;
	width:30px;
	background-color: grey;
	margin:10px;
	text-align: center;
	display:none;
}


.chooseFile{
	height:35px;
	width:100px;
	border-radius: 5px;
	outline: 0;
	background-color: #D7D6D7;
	font-family: Helvetica;
	font-size:14px;
}

.submit{
	color:white;
	background-color: #303030;
	font-family:Helvetica;
	font-size:19px;
	outline:0;
	border:none;
}

.AMcontrols{
	display:flex;
}

.addMemberContainer{
	display:flex;
	flex-direction: column;
}
