body{
	margin:0;
	padding:0;
	align-content: center;
}

.header{
	height:90px;
	width:100%;
	background-color:black;
	font-family: Helvetica;
	color:white;
	font-size:20px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header__leftContainer{
	display: flex;
	align-items: center;
}

.recordPlayerImg{
	height:90px;
	width:80px;
	background-color: white;
	margin-left:35px;
	margin-right:10px;
}

.addAlbum{
	margin-right:15px;
	text-decoration: none;
	color:white;
	padding-right:35px;
}

.formsContainer{
	height:100vh;
	width:80%;
	position:absolute;
	top:0;
	background-color: black;
	color:white;
	display:none;
	justify-content: center;
	align-items: center;
}

.exitForm{
	height:30px;
	width:30px;
	position: absolute;
	top:0;
	right:0;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
}

.switchContainer{
	display:flex;
}

.nextForm{
	height:30px;
	width:30px;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
}

.prevForm{
	height:30px;
	width:30px;
	background-color: grey;
	color:#B6B5B6;
	cursor: pointer;
	font-family:helvetica;
	font-size:30px;
	text-align: center;
}




